---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Discord">
    <div>
        <div class="discord-profile">
            <iframe
                title="Discord user embed"
                width="340"
                height=192
                sandbox="allow-scripts"
                src="https://widgets.vendicated.dev/user?id=434538030691254273&theme=dark&banner=true&full-banner=true&rounded-corners=true&discord-icon=false&badges=false&guess-nitro=false&">
            </iframe>
        </div>
        <p>Add me!!!</p>
    </div>

</Layout>

<style>
    .discord-profile {
        margin: 5vh auto;
        width: 340px;
        height: 192px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>
