---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Music">
    <section class="title">
        <h1>Cool Music</h1>
        <p>Some epic cool music things i like :3!</p>
    </section>
    <section class="music">
        <div class="album-display"></div>
    </section>
</Layout>

<style>
    .title {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin: 5vh 20vw;
    }
    .album-display {

        gap: 1rem;
        margin: 5vh 20vw;
    }
</style>