---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Music">
    <section class="title">
        <h1>Cool Music</h1>
        <p>Some epic cool music things i like :3!</p>
    </section>
    <section class="music">
        <div class="albums">
            <div class="album-display"></div>
            <div class="album-display"></div>
            <div class="album-display"></div>
            <div class="album-display"></div>
        </div>
    </section>
</Layout>

<style>
    .title {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin: 5vh 20vw;
    }
    .music {
        margin: 0 auto;
        width: 80vw;
        min-height: 100px;
        border-radius: 10px;
        background-color: var(--surface0);
    }
    .albums {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }
    .album-display {
        margin: 2vh;
        background-color: var(--surface1);
        width: 40%;
        height: 100px
    }
</style>