---
import Layout from '../layouts/Layout.astro'; 
import Card from '../components/Card.astro';    

import { Icon } from 'astro-icon/components'
---
<Layout title="Projects">
    <section class="title">
        <h1>Projects</h1>
        <p>Here's my small tiny itty bitty collection of projects!</p>
    </section>
    <section class="projects">
        <Card title="BrainzBot" body="A Discord Bot for ListenBrainz, an open source project for tracking listens!" github="https://github.com/coopw1/BrainzBot" link="https://discord.com/oauth2/authorize?client_id=1191438412159389806&permissions=414464658496&scope=bot" skill="nodejs-dark" skilllink="https://nodejs.org/en/about"></Card>
        <Card title="coopw.is-a.dev" body="This website! The first website I've ever made." github="https://github.com/coopw1/website" link="https://dumbgay.com" skill="astro" skilllink="https://astro.build/"></Card>
        <div class="project">
            <p class="plus-symbol">+</p>
            <p>More to come!</p>
        </div>
    </section>
</Layout>

<style>
    .title {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin: 5vh 20vw;
    }

    .projects {
    display: grid;
       grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
       grid-gap: 20px;
       justify-content: center;
       padding: initial;
    }

    .project {
        background-color: var(--surface0);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--surface0);
        border: 2px solid var(--overlay0);
        width: 400px;
        height: 200px;
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .plus-symbol {
        font-size: 96px;
        margin: 0;
    } 

    

    </style>