---
import { Icon } from 'astro-icon/components'
---

<footer>
    <p>Made with &lt;3 by coopw</p>
    <p><a href="https://github.com/coopw1/website">Source Code</a></p>
    <p>Copyright (c) 2024 coopw</p>
    <p><a href="/license">License</a></p>
    <p>Hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a></p>
    <div class="links">
        <div class="nav-icon grow">
            <a href="/discord">
                <Icon name="arcticons:discord"/>
            </a>
        </div>
        <div class="nav-icon grow">
            <a href="https://github.com/coopw1" target="_blank">
                <Icon name="arcticons:github"/>
            </a>
        </div>
        <div class="nav-icon grow">
            <a href="https://listenbrainz.org/user/coopw/" target="_blank">
                <Icon name="arcticons:listenbrainz"/>
            </a>
        </div>
    </div>
</footer>

<style>
    .links {
        display: none;
    }
    @media only screen and (max-width: 505px) {
        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
            margin-top: 5px;
        }
        [data-icon] {
            font-size: 32px;
            color: var(--text);
        }
    }
</style>