---

---

<footer>
    <p>Made with &lt;3 by coopw</p>
    <p><a href="https://github.com/coopw1/website">Source Code</a></p>
    <p>Copyright (c) 2024 coopw</p>
    <p><a href="/license">License</a></p>
    <p>Hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a></p>
</footer>