---

---

<footer>
    <p>Made with &lt;3 by coopw</p>
    <p><a href="https://github.com/coopw1/website">Source Code</a></p>
    <p>Copyright (c) 2024 coopw</p>
    <p><a href="/license">License</a></p>
    <p>Hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a></p>
    <div class="links">
        <div class="nav-icon grow">
            <a href="/discord">
                <svg viewBox="0 0 32 32" version="1.1" id="svg1" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                    <path 
                    fill="currentColor" 
                    d="M 27.107143,5.8967254 A 26.46526,26.486146 0 0 0 20.5053,3.8639798 a 18.13682,18.151134 0 0 0 -0.84568,1.720403 24.585132,24.604534 0 0 0 -7.326712,0 18.214844,18.229219 0 0 0 -0.84568,-1.720403 26.651511,26.672544 0 0 0 -6.6068766,2.0377834 C 0.70228844,12.088161 -0.43031899,18.120907 0.13598472,24.06801 v 0 A 26.611241,26.632242 0 0 0 8.2328694,28.13602 19.556355,19.571788 0 0 0 9.9670172,25.337532 17.220667,17.234257 0 0 1 7.2361748,24.032746 c 0.2290384,-0.166247 0.453043,-0.337532 0.6694969,-0.503779 a 19.020254,19.035264 0 0 0 16.1887353,0 c 0.218971,0.178842 0.442975,0.350126 0.669497,0.503779 a 17.286106,17.299748 0 0 1 -2.735876,1.307305 19.380172,19.395466 0 0 0 1.734148,2.795969 26.490429,26.511335 0 0 0 8.101918,-4.065491 v 0 C 32.528557,17.173804 30.72897,11.196473 27.107143,5.8967254 Z M 10.684335,20.410579 c -1.5780995,0 -2.8818565,-1.433249 -2.8818565,-3.196473 0,-1.763224 1.2584527,-3.209068 2.8768225,-3.209068 1.618371,0 2.91206,1.445844 2.884374,3.209068 -0.02769,1.763224 -1.271037,3.196473 -2.87934,3.196473 z m 10.631409,0 c -1.580617,0 -2.87934,-1.433249 -2.87934,-3.196473 0,-1.763224 1.258453,-3.209068 2.87934,-3.209068 1.620887,0 2.904508,1.445844 2.876822,3.209068 -0.02769,1.763224 -1.26852,3.196473 -2.876822,3.196473 z"/>
                </svg>
            </a>
        </div>
        <div class="nav-icon grow">
            <a href="https://github.com/coopw1" target="_blank">
                <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
                    ><path
                        fill="currentColor"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
            </a>
        </div>
        <div class="nav-icon grow">
            <a href="https://listenbrainz.org/user/coopw/" target="_blank">
                <svg id="a" viewBox="0 0 32 32" version="1.1" width="32" height="32">
                    <polygon
                        class="b"
                        points="13,29 13,1 1,8 1,22 "
                        id="polygon1"
                        style="fill:currentColor;fill-opacity:1"
                        transform="matrix(1.14284,0,0,1.1428571,0.57166,-1.1428571)" />
                    <polygon
                        class="c"
                        points="14,29 14,1 26,8 26,22 "
                        id="polygon2"
                        style="fill:currentColor;fill-opacity:1"
                        transform="matrix(1.14284,0,0,1.1428571,0.57166,-1.1428571)" />
                </svg>
            </a>
        </div>
    </div>
</footer>

<style>
    .links {
        display: none;
    }
    @media only screen and (max-width: 470px) {
        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px
        }
    }
</style>