---
import { Icon } from 'astro-icon/components'
---

<header>
    <nav>
        <div class="main-icon push-left">
            <a href="/" class="grow">😼</a>
        </div>
        <div class="nav-bar">
            <div class="links">
                <div class="nav-link">
                    <a href="/" class="grow">home</a>
                </div>
                <div class="nav-link">
                    <a href="/projects" class="grow">projects</a>
                </div>
                <div class="nav-link">
                    <a href="/music" class="grow">cool music</a>
                </div>
            </div>
            <div class="icons">
                <div class="nav-icon grow">
                    <a href="/discord">
                        <Icon name="arcticons:discord"/>
                    </a>
                </div>
                <div class="nav-icon grow">
                    <a href="https://github.com/coopw1" target="_blank">
                        <Icon name="arcticons:github"/>
                    </a>
                </div>
                <div class="nav-icon grow">
                    <a href="https://listenbrainz.org/user/aprill/" target="_blank">
                        <Icon name="arcticons:listenbrainz"/>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="navbar-spacer"></div>


<style>
    nav {
        height: 10vh;
        width: 100vw;
    }
    a {
        text-decoration: none;
        color: var(--text);
    }
    .main-icon {
        font-size: 5vh;
        width: 5vh;
        height: 5vh;
        margin: 2.5vh;
        margin-top: 1.8vh;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .nav-bar {
        display: inline-flex;
        width: calc(100vw - 15vh);
        height: 10vh;
        position: absolute;
        down: 0;
        align-items: center;
        justify-content:end;
        gap: 25px
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 25px
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px
    }
    .links div,
    .icons div {
        display:flex
    }

    .icons a {
        width: 32px;
        height: 32px;
    }

    @media only screen and (max-width: 505px) {
        .icons {
            display: none;
        }
    }
    [data-icon] {
    font-size: 32px;
    color: var(--text);
}
</style>
