---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <header></header>
		
			<main>
				<div class="navbar-spacer"></div>
				<slot />
        	</main>
			
			<footer>
				<p>Made with &lt;3 by coopw</p>
				<p><a href="https://github.com/coopw1/website">Source Code</a></p>
				<p>Copyright (c) 2024 coopw</p>
				<p><a href="/license">License</a></p>
				<p>Hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a></p>
			</footer>
		</body>
	</html>
